/* L-System Fractals by Maira Zabuscha de Lima */
body {
    touch-action: manipulation;
    background-color: #CCCCCC;
    color: #000000;
    font-family: Consolas, 'Courier New', monospace;
    font-size: 80%;
    margin: 10px;
}
select, input {
    background-color: transparent;
    color: #000000;
    border: none;
    font-family: Consolas, 'Courier New', monospace;
    font-size: 1em;
}

button:disabled, input[type="text"]:disabled {
    color: #cccccc;
    cursor: not-allowed;
}

canvas {
    display: block;
}

span.field, button {
    display: inline-block;
    background-color: #FFFFFF;
    color: #000000;
    border: 1px solid #000000;
    font-family: Consolas, 'Courier New', monospace;
    font-size: 1em;
    padding: 3px;
    margin: 5px;
}

#msg {
    display: none;
    color: #000000;
    font-family: Consolas, 'Courier New', monospace;
    font-size: 1em;
    padding: 3px;
    margin: 5px;
}
